* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f5;
}

.module-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #2b4fff;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.status {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none; /* Remove underline */
    color: #fff;
}


.btn:hover {
    transform: scale(1.05);
}

.experiment {
    background-color: #ffc107;
}

.wetanalysis{
    background-color: #007bff;
}

.database {
    background-color: #6f42c1;
}

.abort {
    background-color: #dc3545;
}
